# tinyrox says don't edit this manually, but it can't stop you!

export(emit_ttir)
export(emit_ttir_matmul)
export(gpu_launch)
export(mlir_compile)
export(triton_op_supported)

importFrom(Rcpp,sourceCpp)

useDynLib(ariel, .registration = TRUE)
